<section ng-controller="pessoaController">
    <div class="jumbotron">
      <br>
      <h5>Enderecos</h5>
      <input class="form-control" type="text" ng-model="buscaPessoa" ng-model-options="{updateOn: 'default blur', debounce:{default: 150, blur:0}}" placeholder="Nome da pessoa está buscando?"/>
      <table id="tabPessoas" class="table table-dark table-hover">
        <tr>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>Endereço</th>
          <th>Idade</th>
          <th>Peso</th>
          <th>Profissao</th>
          <th>Apagar</th>
        </tr>
        <tr ng-repeat="pessoa in pessoas | filter:buscaPessoa">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.sobrenome}}</td>
          <td>{{pessoa.endereco.id}}</td>
          <td>{{pessoa.idade}}</td>
          <td>{{pessoa.peso}} kg</td>
          <td>{{pessoa.profissao.nome}}</td>
          <td ><button type="button" class="btn" ng-click="setPessoaSelecionada(pessoa)" data-bs-toggle="modal" data-bs-target="#deleteModal" ng-model="pessoa"><img src="lib/Imagens/lixeira.ico" width="30px"></button> </td>
        </tr>
      </table>
      <button type="button" class="btn btn-outline-primary" ng-click="paginaAnterior()">Anterior</button>
      <button type="button" class="btn btn-outline-primary" ng-click="proximaPagina()">Próximo</button>
      <button type="button" class="btn" ng-click="imprimirPessoas()"><img src="lib/Imagens/print.png" width="40px"></button>

      <!-- Delete Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete pessoa</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Tem certeza que deseja apagar essa pessoa?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-click="deletePessoa(getPessoaSelecionada())">Continuar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>