<div class="jumbotron" ng-controller="enderecoController">

    <form name="enderecoForm">
      <br>
      <h3>Cadastro de Endereço</h3>
      <br>
      <input class="form-control" type="text" ng-model="endereco.rua" name="rua" placeholder="Rua" ng-required="true" ng-minlength="4" required/>
      <br>
      <input class="form-control" type="text" ng-model="endereco.numero" name="numeroDaCasa" placeholder="Número da casa" ng-required="true"/>
      <br>
      <input class="form-control" type="text" ng-model="endereco.cep" name="cep" placeholder="CEP" ng-required="true"/>
      <br>
      <input class="form-control" type="text" ng-model="endereco.bairro.nome" name="nomeBairro" placeholder="Nome do Bairro" ng-required="true"/>
      <br>
      <input class="form-control" type="text" ng-model="endereco.bairro.valorDoIptu" name="iptu" placeholder="Valor do IPTU" ng-required="true"/>
      <br>
    </form>

    <div ng-show="enderecoForm.rua.$error.required && enderecoForm.rua.$dirty" class="alert alert-danger">
      Preencha os dados corretamente!
    </div>
    <button type="submit" class="btn btn-success btn-block" ng-click="adicionarEndereco(endereco)">Adicionar Endereco</button>
</div>